.left_box {
    width: 20%;
    border: 0.7vw solid #f7c203;
    outline: 0.15vw solid black;
    box-sizing: border-box;
}
.middle_box {
    width: 65%;
    height: 100%;
}
.right_box {
    width: 15%;
}
.grid_container {
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 35%);
    align-items: center;    
    font-size: 1vw;

    p {
        margin: 0;
        padding: 0;
    }

    input {
        margin: 0;
        padding: 0;
    }

}

@keyframes flyInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Wende die Keyframe-Animation auf das Div-Element an */
.fly_in_bottom {
    animation: flyInFromBottom 1s ease-out; /* Die Animation dauert 1 Sekunde und endet mit einer Abbremsung */
}

.plot_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
}

.bk-Figure {
    height: 85%;
    width: 85%;
    min-width: 0%;
    min-height: 0%;
    max-width: 85%;
    max-height: 85%;
}
#year {
    grid-column: 1;
    grid-row: 2;
}
#spring {
    grid-column: 1;
    grid-row: 3;
}
#summer {
    grid-column: 1;
    grid-row: 4;
}
#autumn {
    grid-column: 1;
    grid-row: 5;
}
#winter {
    grid-column: 1;
    grid-row: 6;
}
#tmin {
    grid-column: 2;
    grid-row: 1;
}
#tmax {
    grid-column: 3;
    grid-row: 1;
}
#min_year {
    grid-column: 2;
    grid-row: 2;
}
#min_spring {
    grid-column: 2;
    grid-row: 3;
}
#min_summer {
    grid-column: 2;
    grid-row: 4;
}
#min_autumn {
    grid-column: 2;
    grid-row: 5;
}
#min_winter {
    grid-column: 2;
    grid-row: 6;
}
#max_year {
    grid-column: 3;
    grid-row: 2;
}
#max_spring {
    grid-column: 3;
    grid-row: 3;
}
#max_summer {
    grid-column: 3;
    grid-row: 4;
}
#max_autumn {
    grid-column: 3;
    grid-row: 5;
}
#max_winter {
    grid-column: 3;
    grid-row: 6;
}
input {
    width: fit-content;
}