/* The page is divided into three boxes. Here the left box gets styled */
.left_box {
    width: 25%;
    border: 0.7vw solid #f7c203;
    outline: 0.15vw solid black;
    box-sizing: border-box;
}
/* ----------------------------------------------------------------- */

/* The page is divided into three boxes. Here the middle box gets styled */
.middle_box {
    width: 60%;
    height: 100%;
}
/* fly in animation for the middle box */
@keyframes flyInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.fly_in_bottom {
    animation: flyInFromBottom 1s ease-out; /* the animation takes 1 seconds and ends with a slowing down effect */
}
/* styling for the plot and the container around it */
.plot_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
}
.bk-Figure {
    height: 85%;
    width: 85%;
    min-width: 0%;
    min-height: 0%;
    max-width: 85%;
    max-height: 85%;
}
/* ----------------------------------------------------------------- */

/* The page is divided into three boxes. Here the right box gets styled */
.right_box {
    width: 15%;
}
/* styling for the grid inside the right box that contains the checkboxes */
.grid_container {
    height: 25%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(8, 15%);
    align-items: center;    
    font-size: 1vw;

    p {
        margin: 0;
        padding: 0;
    }

    form input {
        margin: 0;
        padding: 0;
        width: fit-content;
    }
}
/* Positioning of the checkboxes and the refresh button inside the grid */
#year {
    grid-column: 1;
    grid-row: 2;
}
#spring {
    grid-column: 1;
    grid-row: 3;
}
#summer {
    grid-column: 1;
    grid-row: 4;
}
#autumn {
    grid-column: 1;
    grid-row: 5;
}
#winter {
    grid-column: 1;
    grid-row: 6;
}
#tmin {
    grid-column: 2;
    grid-row: 1;
}
#tmax {
    grid-column: 3;
    grid-row: 1;
}
#year_tmin {
    grid-column: 2;
    grid-row: 2;
}
#mspring_tmin {
    grid-column: 2;
    grid-row: 3;
}
#summer_tim {
    grid-column: 2;
    grid-row: 4;
}
#fall_tmin {
    grid-column: 2;
    grid-row: 5;
}
#winter_tmin {
    grid-column: 2;
    grid-row: 6;
}
#year_tmax{
    grid-column: 3;
    grid-row: 2;
}
#spring_tmax {
    grid-column: 3;
    grid-row: 3;
}
#summer_tmax {
    grid-column: 3;
    grid-row: 4;
}
#fall_tmax {
    grid-column: 3;
    grid-row: 5;
}
#winter_tmax {
    grid-column: 3;
    grid-row: 6;
}
#action {
    grid-column: 1;
    grid-row: 8;
}
/* ----------------------------------------------------------------- */