
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: #f7c203;
    padding: 10px;
    border: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Koerper{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row ;
    align-items: top;
    justify-content: space-between;
}

input[type="text"], input[type="number"] {
    padding: 1px;
    margin: 1px;
    display: inline-flex;
}

label {
    margin-right: 2px;
}

.Kopfzeile {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.Tabelle_Diagramm {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row ;
    align-items: top;
    justify-content: space-between;
}

.Station{
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 35%;
    min-height: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

th {
    background-color: #f7c203; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Hintergrundfarbe für gerade Zeilen */
}

.Checkboxen{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.Checkboxen_min, .Checkboxen_max{
    font-size:xx-small;
    display: flex;
    flex-direction: column; 
    margin-left: 0%;
    margin-right: 2px;
}

.Kategorien{
    font-size:xx-small;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 60px;
}

.Kategorien p{
    margin-top: 0px;
    margin-left: 150%;
}
