/* The page is divided into two boxes. Here the left box gets styled */
.left_box {
    border: 0.7vw solid #f7c203;
    outline: 0.15vw solid black;
    box-sizing: border-box;
}

/* The page is divided into two boxes. Here the left box gets styled */
/* Inside the right box there is a big logo. This is the fly in animation for the logo */
@keyframes flyInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.fly_in_right {
    animation: flyInFromRight 1s ease-out; /* the animation takes 1 seconds and ends with a slowing down effect */
}
/* ----------------------------------------------------------------- */