#table {
    border: thin solid;
    border-collapse: collapse;
    font-size: 1vw;

    th {
        border: thin solid;
    }

    td {
        border: thin solid;
    }

    caption {
        border: thin solid;
        background-color: lightgray;
    }

    a {
        display: block;
        text-decoration: none;
        transition: all 0.25s ease-out;
        color: black;
    }
}
#table tr:hover {
    background-color: #f7c203;
}
.left_box {
    border: 0.7vw solid #f7c203;
    outline: 0.15vw solid black;
    box-sizing: border-box;
}