html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    background-color: #f7c203;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.main {
    display: flex;
    height: 85%;
    width: 100%;
}

form {
    display: contents;
}

input {
    width: 	10vw;
    font-size: 1vw !important;
    padding-left: 1px;
    margin: 0px 0px 0px 2% !important;
}

.align_input_fields {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

#start_year_label {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
}

#end_year_label {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
}

#station_count_label {
    grid-row: 3;
    grid-column: 1;
    margin: 0;
}

#start_year_input {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
}

#end_year_input {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
}

#station_count_input {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    align-items: center;
}

#kilometer_value {
    margin: 0px 0px 0px 5px;
}

#input_discriptions {
    display: grid;
    margin-right: 10px;
    height: 100%;

    div {
        margin-bottom: 5px;
    }
}

#search_range_slider {
    display: flex;
    justify-content: space-between;
    div {
        width: 50%;
    }
}

#logo {
    max-width: 80%;
    height: auto;
    cursor: pointer;
}

#search_icon {
    width: 100%;
    height: 100%;
    padding: 0;
    transition: scale 1s ease;
}

#search_icon:hover {
    width: 105%;
    height: 105%;
}

.last_element {
    margin-bottom: 0px !important;
}

#stacked_input_fields {
    display: grid;
    height: 100%;

    p {
        margin: 100px;
    }
}

.right_box {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.left_box {
    height: 100%;
    max-height: 100%;
    width: 50%;
    overflow-y: auto;
}
.m_left {
    margin-left: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        display: flex;
        height: 50%;
    }
}
.m_right {
    margin-right: 1%;
}
.no_margin {
    margin: 0%;
}
.image_container {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    height: 100%;
}
.detail_table {
    border: thin solid;
    font-size: 1vw;
    caption-side: top;

    th {
        border: thin solid;
    }

    td {
        border: thin solid;
        padding: 0;
        margin: 0;
    }

    caption {
        border: thin solid;
        background-color: lightgray;
        color: black;
        text-align: center;
    }
}
.detail_table tr:nth-child(n+2):hover {
    background-color: #f7c203;
    cursor: pointer;
}
.error_container {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0%;
    top: 16%;

    .alert {
        margin: 0;
        background-color: rgba(255, 0, 0);
        color: black;
        box-sizing: border-box;
        border: 1px solid black;
    }
}
.coordinates {
    display: flex;
    height: 35%;
    align-items: center;
}