html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    background-color: #f7c203;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
    height: 15%;
    width: 100%;
}

.main {
    display: flex;
    height: 85%;
    width: 100%;
}

form {
    display: contents;
}

input {
    width: 	10vw;
    height: 2vh;
    font-size: 1vw;
    padding-left: 1px;
}

.align_input_fields {
    display: flex;

    p {
        margin: 0px 0px 5px 0px;
        padding: 0;
        align-items: center;
        justify-items: center; 
    }

}

#input_discriptions {
    display: grid;
    margin-right: 10px;

    div {
        margin-bottom: 5px;
    }
}

#search_range_slider {
    display: flex;

    div {
        width: 50%;
    }
}

#logo {
    max-width: 80%;
    height: auto;
    cursor: pointer;
}

#search_icon {
    width: 100%;
    height: 100%;
    padding: 0;
}

.last_element {
    margin-bottom: 0px !important;
}

#stacked_input_fields {
    display: grid;
}

.right_box {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.left_box {
    height: 100%;
    max-height: 100%;
    width: 50%;
    overflow-y: auto;
}
.m_left {
    margin-left: 1%;
}
.m_right {
    margin-right: 1%;
}
.image_container {
    display: flex;
    align-items: start;
    justify-content: center;
    aspect-ratio: 1 / 1;
    max-width: 100%;
}
.detail_table {
    border: thin solid;
    border-collapse: collapse;
    font-size: 1vw;

    th {
        border: thin solid;
    }

    td {
        border: thin solid;
        padding: 5px;
    }

    caption {
        border: thin solid;
        background-color: lightgray;
    }

    a {
        display: block;
        text-decoration: none;
        transition: all 0.25s ease-out;
        color: black;
    }
}
.detail_table tr:hover {
    background-color: #f7c203;
}
.plot_container {
    margin: 5%;
}