
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #f7c203;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: contents;
}

.align_input_fields {
    display: flex;
}

.align_input_fields p {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
}

#input_discriptions {
    display: grid;
    margin-right: 10px;
}

#search_range_slider {
    display: flex;
}

#search_range_slider div{
    width: 50%;
}

.Kopfzeile {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.Koerper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#Logo {
    height: 40%;
    width: 40%;
    cursor: pointer;
}