/* styling for the main container */
.main {
    justify-content: center;
}
/* ----------------------------------------------------------------- */

/* styling for the big logo */
#logo {
    max-height: 80%;
}
/* fly in animation for the big logo */
@keyframes flyInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.fly_in_bottom {
    animation: flyInFromBottom 1s ease-out; /* the animation takes 1 seconds and ends with a slowing down effect */
}
/* ----------------------------------------------------------------- */