#logo {
    max-height: 80%;
}
.main {
    justify-content: center;
}
@keyframes flyInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Wende die Keyframe-Animation auf das Div-Element an */
.fly_in_bottom {
    animation: flyInFromBottom 1s ease-out; /* Die Animation dauert 1 Sekunde und endet mit einer Abbremsung */
}
