<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/Jahresansicht.css">
</head>
<body>

    <header>
        <div>
            <label for="longitude">Längengrad:</label>
            <input type="text" id="longitude" name="longitude">
            <br>
            <label for="latitude">Breitengrad:</label>
            <input type="text" id="latitude" name="latitude">
        </div>

        <div>
            <label for="valueRange">Suchradius:</label>
            <input type="range" id="valueRange" name="valueRange" min="5" max="100" step="5">
        </div>

        <div>
            <label for="startYear">Startjahr:</label>
            <input type="number" id="startYear" name="startYear" step="1">
            <label for="endYear">Endjahr:</label>
            <input type="number" id="endYear" name="endYear" step="1">
            <label for="stationCount">Anzahl Stationen:</label>
            <input type="number" id="stationCount" name="stationCount" min="1" max="15" step="1">
        </div>

        <div>
            <a href="Jahresansicht.html">
            <img src="/static/assets/Lupe.png" alt="Bild" onclick="suchen()" class="Kopfzeile">
            </a>
        </div>
    </header>
    
    <div class="Station">
        WetterstationX
    </div>

    <div class="Koerper">
        <div class="Tabelle_Diagramm">
        
            <table>
                <thead>
                    <tr>
                        <th>Spalte 1</th>
                        <th>Spalte 2</th>
                        <th>Spalte 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Inhalt 1-1</td>
                        <td>Inhalt 1-2</td>
                        <td>Inhalt 1-3</td>
                    </tr>
                    <tr>
                        <td>Inhalt 2-1</td>
                        <td>Inhalt 2-2</td>
                        <td>Inhalt 2-3</td>
                    </tr>
                </tbody>
            </table>

            <canvas id="linechart" width="50" height="50"></canvas>
        </div>
        <div class="Checkboxen">
            <div class="Kategorien">
                <p>Jahr</p>
                <p>Fr&uuml;hling</p>
                <p>Sommer</p>
                <p>Herbst</p>
                <p>Winter</p>
            </div>

            <div class="Checkboxen_min">
                TMIN
                <input type="checkbox" id="minYear" name="minYear"> 
                <input type="checkbox" id="minSpring" name="minSpring">
                <input type="checkbox" id="minSummer" name="minSummer"> 
                <input type="checkbox" id="minAutumn" name="minAutumn">
                <input type="checkbox" id="minWinter" name="minWinter">
            </div>
            <div class="Checkboxen_max">
                TMAX
                <input type="checkbox" id="maxYear" name="maxYear">
                <input type="checkbox" id="maxSpring" name="maxSpring">
                <input type="checkbox" id="maxSummer" name="maxSummer">   
                <input type="checkbox" id="maxAutumn" name="maxAutumn">
                <input type="checkbox" id="maxWinter" name="maxWinter">
            </div>
        </div>
    </div>
</body>
</html>