<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/Jahresansicht.css">
</head>
<body>
    <div class="header">
        <form action="/" method="post">
            {{ form.csrf_token }}
            <div class="m_left">
                <p>
                    {{ form.latitude.label }}
                    {{ form.latitude() }}
                </p>
                <p>
                    {{ form.longitude.label }}
                    {{ form.longitude() }}
                </p>
            </div>
            <div>
                <div id="search_range_slider">
                    <div>
                        <p>
                            {{ form.radius.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <output for="radius" id="selected_radius">{{ form.radius.data }} km</output>
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.radius(oninput="outputUpdate(value)") }}
                    </p>
                </div>
            </div>
            <div class="align_input_fields">
                <div id="input_discriptions">
                    <div>
                        <p>
                            {{ form.startYear.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.endYear.label }}
                        </p>
                    </div>
                    <div class="last_element">
                        <p>
                            {{ form.stationCount.label }}
                        </p>
                    </div>
                </div>
                <div id="stacked_input_fields">
                    <p>
                        {{ form.startYear() }}
                    </p>
                    <p>
                        {{ form.endYear() }}
                    </p>
                    <p class="last_element">
                        {{ form.stationCount() }}
                    </p>
                </div>
            </div>
            <div class="m_right">
                <input id="search_icon" type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
    </div>
    <div class="main">
        <div class="left_box">
            <table class="detail_table">
                <caption>Wetterstation</caption>
                <tr>
                    <th>Jahr</th>
                    <th>Mittleres Temperatur Minimum</th>
                    <th>Mittleres Temperatur Maximum</th>
                </tr>
                {%for year in averageTemperaturesYear%} 
                    <tr><td><a href="">{{year}}</a></td><td><a href="">{{averageTemperaturesYear[year]['TMIN']}}</a></td><td><a href="">{{averageTemperaturesYear[year]['TMAX']}}</a></td></tr>
                {%endfor%}
            </table>
        </div>
        <div class="middle_box">
            <div>
                Diagramm hier
            </div>
        </div>
        <div class="right_box">
            <div class="grid_container">
                <p id="year">Jahr</p>
                <p id="spring">Frühling</p>
                <p id="summer">Sommer</p>
                <p id="autumn">Herbst</p>
                <p id="winter">Winter</p>
                <p id="tmin">MinTemp</p>
                <input type="checkbox" id="min_year" name="minYear"> 
                <input type="checkbox" id="min_spring" name="minSpring">
                <input type="checkbox" id="min_summer" name="minSummer"> 
                <input type="checkbox" id="min_autumn" name="minAutumn">
                <input type="checkbox" id="min_winter" name="minWinter">
                <p id="tmax">MaxTemp</p>
                <input type="checkbox" id="max_year" name="maxYear">
                <input type="checkbox" id="max_spring" name="maxSpring">
                <input type="checkbox" id="max_summer" name="maxSummer">   
                <input type="checkbox" id="max_autumn" name="maxAutumn">
                <input type="checkbox" id="max_winter" name="maxWinter">
            </div>
        </div>
    </div>
</body>
</html>