<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/Jahresansicht.css">
</head>
<body>
    <header>
        <form action="/" method="post">
            {{ form.csrf_token }}
            <div>
                <p class="form_field">
                    {{ form.longitude.label }}
                    {{ form.longitude() }}
                </p>
                <p>
                    {{ form.latitude.label }}
                    {{ form.latitude() }}
                </p>
            </div>
            <div>
                <div id="search_range_slider">
                    <div>
                        <p>
                            {{ form.radius.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <output for="radius" id="selected_radius">{{ form.radius.data }} km</output>
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.radius(oninput="outputUpdate(value)") }}
                    </p>
                </div>
            </div>
            <div class="align_input_fields">
                <div id="input_discriptions">
                    <div>
                        <p>
                            {{ form.startYear.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.endYear.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.stationCount.label }}
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.startYear() }}
                    </p>
                    <p>
                        {{ form.endYear() }}
                    </p>
                    <p>
                        {{ form.stationCount() }}
                    </p>
                </div>
            </div>
            <div>
                <input type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
    </header>

    <!-- Zum Testen -->
    {% for message in get_flashed_messages() %}
    <div>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
    {% endfor %}
    
    <div class="Station">
        WetterstationX
    </div>

    <div class="Koerper">
        <div class="Tabelle_Diagramm">
        
            <table>
                <thead>
                    <tr>
                        <th>Spalte 1</th>
                        <th>Spalte 2</th>
                        <th>Spalte 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Inhalt 1-1</td>
                        <td>Inhalt 1-2</td>
                        <td>Inhalt 1-3</td>
                    </tr>
                    <tr>
                        <td>Inhalt 2-1</td>
                        <td>Inhalt 2-2</td>
                        <td>Inhalt 2-3</td>
                    </tr>
                </tbody>
            </table>

            <canvas id="linechart" width="50" height="50"></canvas>
        </div>
        <div class="Checkboxen">
            <div class="Kategorien">
                <p>Jahr</p>
                <p>Fr&uuml;hling</p>
                <p>Sommer</p>
                <p>Herbst</p>
                <p>Winter</p>
            </div>

            <div class="Checkboxen_min">
                TMIN
                <input type="checkbox" id="minYear" name="minYear"> 
                <input type="checkbox" id="minSpring" name="minSpring">
                <input type="checkbox" id="minSummer" name="minSummer"> 
                <input type="checkbox" id="minAutumn" name="minAutumn">
                <input type="checkbox" id="minWinter" name="minWinter">
            </div>
            <div class="Checkboxen_max">
                TMAX
                <input type="checkbox" id="maxYear" name="maxYear">
                <input type="checkbox" id="maxSpring" name="maxSpring">
                <input type="checkbox" id="maxSummer" name="maxSummer">   
                <input type="checkbox" id="maxAutumn" name="maxAutumn">
                <input type="checkbox" id="maxWinter" name="maxWinter">
            </div>
        </div>
    </div>
</body>
</html>