<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/Liste.css">
    <script src="/static/scripts/script.js"></script>
</head>
<body>

    <header>
        <form action="/" method="post">
            {{ form.csrf_token }}
            <div>
                <p>
                    {{ form.longitude.label }}
                    {{ form.longitude() }}
                </p>
                <p>
                    {{ form.latitude.label }}
                    {{ form.latitude() }}
                </p>
            </div>
            <div>
                <div id="search_range_slider">
                    <div>
                        <p>
                            {{ form.radius.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <output for="radius" id="selected_radius">{{ form.radius.data }} km</output>
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.radius(oninput="outputUpdate(value)") }}
                    </p>
                </div>
            </div>
            <div class="align_input_fields">
                <div id="input_discriptions">
                    <div>
                        <p>
                            {{ form.startYear.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.endYear.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.stationCount.label }}
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.startYear() }}
                    </p>
                    <p>
                        {{ form.endYear() }}
                    </p>
                    <p>
                        {{ form.stationCount() }}
                    </p>
                </div>
            </div>
            <div>
                <input id="search_icon" type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
    </header>

    <div class="main">
        <div class="left_box">
            <table id="table">
                <caption>Wetterstationen</caption>
                <tr>
                    <th>Bezeichnung</th>
                    <th>Ort</th>
                    <th>Distanz im km</th>
                    <th>Koordinaten</th>
                </tr>
                {%for station in stations%} 
                    <tr><td><a href="/jahresansicht/{{station['id']}}">{{station['id']}}</a></td><td><a href="/jahresansicht/{{station['id']}}">{{station['city']}}</a></td><td><a href="/jahresansicht/{{station['id']}}">{{station['distance']}}</a></td><td><a href="/jahresansicht/{{station['id']}}">{{station['latitude']}} {{station['longitude']}}</a></td></tr>
                {%endfor%}
            </table>
        </div>
        <div class="right_box">
            <img src="/static/assets/Logo.png" alt="Bild" id="logo">
        </div>
    </div>
        

</body>
</html>