<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/Startseite.css">
</head>
<body>
    <header>
        <form action="/" method="post">
            {{ form.csrf_token }}
            <div>
                <p>
                    {{ form.longitude.label }}
                    {{ form.longitude(rows=5, cols=40) }}
                </p>
                <p>
                    {{ form.latitude.label }}
                    {{ form.latitude(rows=5, cols=40) }}
                </p>
            </div>

            <div>
                <p>
                    {{ form.radius.label }}
                    {{ form.radius(rows=5, cols=40) }}
                </p>
            </div>

            <div>
                <p>
                    {{ form.startYear.label }}
                    {{ form.startYear(rows=5, cols=40) }}
                </p>
                <p>
                    {{ form.endYear.label }}
                    {{ form.endYear(rows=5, cols=40) }}
                </p>
                <p>
                    {{ form.stationCount.label }}
                    {{ form.stationCount(rows=5, cols=40) }}
                </p>

            </div>
            <div>
                <input type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
        
    </header>

    <div class="Koerper">
        <img src="/static/assets/Logo.png" alt="Bild" id="Logo">
    </div>

</body>
</html>