<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/detailansicht.css">
    <script src="/static/scripts/script.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.4.min.js"></script>
</head>
<body>
    <div class="header">
        <form action="/" method="post">
            {{ form.csrf_token }}
            <div class="m_left">
                <p>
                    {{ form.latitude.label }}
                    {{ form.latitude() }}
                </p>
                <p>
                    {{ form.longitude.label }}
                    {{ form.longitude() }}
                </p>
            </div>
            <div>
                <div id="search_range_slider">
                    <div>
                        <p>
                            {{ form.radius.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <output for="radius" id="selected_radius">{{ form.radius.data }} km</output>
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.radius(oninput="outputUpdate(value)") }}
                    </p>
                </div>
            </div>
            <div class="align_input_fields">
                <div id="input_discriptions">
                    <div>
                        <p>
                            {{ form.start_year.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.end_year.label }}
                        </p>
                    </div>
                    <div class="last_element">
                        <p>
                            {{ form.station_count.label }}
                        </p>
                    </div>
                </div>
                <div id="stacked_input_fields">
                    <p>
                        {{ form.start_year() }}
                    </p>
                    <p>
                        {{ form.end_year() }}
                    </p>
                    <p class="last_element">
                        {{ form.station_count() }}
                    </p>
                </div>
            </div>
            <div class="m_right">
                <input id="search_icon" type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
    </div>
    <div class="main">
        <div class="left_box">
            <table class="detail_table">
                <caption>Wetterstation {{id}}</caption>
                <tr>
                    <th>Tag</th>
                    <th>Mittleres Temperatur Minimum</th>
                    <th>Mittleres Temperatur Maximum</th>
                </tr>
                {%for day in temperatures_daily%} 
                    <tr><td><a href="">{{day}}</a></td><td><a href="">{{temperatures_daily[day]['TMIN']}}</a></td><td><a href="">{{temperatures_daily[day]['TMAX']}}</a></td></tr>
                {%endfor%}
            </table>
        </div>
        <div class="middle_box">
            <div class="plot_container fly_in_bottom">
                BOKEH Diagram here

                {{ div | safe }}
                {{ script | safe }}
            </div>
        </div>
        <div class="right_box">
            <div class="grid_container">
                <p id="year">Tag</p>
                <p id="tmin">MinTemp</p>
                <input class="checkbox" type="checkbox" id="min_year" name="minYear"> 
                <p id="tmax">MaxTemp</p>
                <input class="checkbox" type="checkbox" id="max_year" name="maxYear">
            </div>
        </div>
    </div>
    <div class="error_container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show absolute" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</body>
</html>