<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/Monats_Tagesansicht.css">
    <script src="/static/scripts/script.js"></script> 
</head>
<body>
    <div class="header">
        <form action="/" method="post">
            {{ form.csrf_token }}
            <div class="m_left">
                <p>
                    {{ form.latitude.label }}
                    {{ form.latitude() }}
                </p>
                <p>
                    {{ form.longitude.label }}
                    {{ form.longitude() }}
                </p>
            </div>
            <div>
                <div id="search_range_slider">
                    <div>
                        <p>
                            {{ form.radius.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <output for="radius" id="selected_radius">{{ form.radius.data }} km</output>
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.radius(oninput="outputUpdate(value)") }}
                    </p>
                </div>
            </div>
            <div class="align_input_fields">
                <div id="input_discriptions">
                    <div>
                        <p>
                            {{ form.start_year.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            {{ form.end_year.label }}
                        </p>
                    </div>
                    <div class="last_element">
                        <p>
                            {{ form.station_count.label }}
                        </p>
                    </div>
                </div>
                <div id="stacked_input_fields">
                    <p>
                        {{ form.start_year() }}
                    </p>
                    <p>
                        {{ form.end_year() }}
                    </p>
                    <p class="last_element">
                        {{ form.station_count() }}
                    </p>
                </div>
            </div>
            <div class="m_right">
                <input id="search_icon" type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
    </div>
    <div class="main">
        <div class="Station">
            WetterstationX | 1991 | Januar
        </div>

        <div class="MaxMin">
            <div>
                Minimumskurve<input type="checkbox" id="min" name="min">
            </div>
            <div>
                Maximumskurve<input type="checkbox" id="max" name="max">
            </div>
        </div>
        <a href="Monatsansicht.html">
            <input type="button" id="return" name="return" value="Zurück" onclick="return(x)">
        </a> 
    </div>
    <canvas id="linechart" width="50" height="50"></canvas>
</body>
</html>