<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetter App</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/detailansicht.css">
    <link rel="stylesheet" href="/static/stylesheets/monatsundtagesansicht.css">
    <script src="/static/scripts/script.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <form action="/station/{{id}}/{{year}}/{{month}}" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="m_left">
                <div class="coordinates">
                    {{ form.latitude.label }}
                    {{ form.latitude() }}
                </div>
                <div class="coordinates">
                    {{ form.longitude.label }}
                    {{ form.longitude() }}
                </div>
            </div>
            <div>
                <div id="search_range_slider">
                    <div>
                        <p>
                            {{ form.radius.label }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <output for="radius" id="selected_radius">{{ form.radius.data }} km</output>
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        {{ form.radius(oninput="outputUpdate(value)") }}
                    </p>
                </div>
            </div>
            <div class="align_input_fields">
                <p id="start_year_label">
                    {{ form.start_year.label }}
                </p>
                <p id="end_year_label">
                    {{ form.end_year.label }}
                </p>
                <p id="station_count_label">
                    {{ form.station_count.label }}
                </p>
                <div id="start_year_input">
                    {{ form.start_year() }}
                </div>
                <div id="end_year_input">
                    {{ form.end_year() }}
                </div>
                <div id="station_count_input">
                    {{ form.station_count() }}
                </div>
            </div>
            <div class="m_right">
                <input id="search_icon" type="image" src="/static/assets/Lupe.png", alt="Submit Form">
            </div>
        </form>
    </div>
    <div class="main">
        <div class="left_box">
            <table class="detail_table">
                <caption>Wetterstation {{id}}</caption>
                <tr>
                    <th>Tag</th>
                    <th>Mittleres Temperatur Minimum</th>
                    <th>Mittleres Temperatur Maximum</th>
                </tr>
                {%for day in temperatures_daily%} 
                    <tr>
                        <td>{{day}}</td>
                        <td>{{temperatures_daily[day]['TMIN']}}</td>
                        <td>{{temperatures_daily[day]['TMAX']}}</td>
                    </tr>
                {%endfor%}
            </table>
        </div>
        <div class="middle_box">
            <div class="plot_container fly_in_bottom">
                {{ div | safe }}
                {{ script | safe }}
            </div>
        </div>
        <div class="right_box">
            <div class="grid_container">
                <p id="year">Tag</p>
                <p id="tmin">MinTemp</p>
                <p id="tmax">MaxTemp</p>
                <form action="/station/{{id}}/{{year}}/{{month}}" method="post">
                    {{min_max_form.csrf_token }}
                    {{min_max_form.year_tmin()}}
                    {{min_max_form.year_tmax()}}
                    {{min_max_form.submit_field()}}
                </form>
            </div>
        </div>
    </div>
    <div class="error_container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show absolute" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</body>
</html>